*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fooldal{
  text-align: center;
}

.cim{
  text-align: center;
}

.footer{
  background: #b1f2ff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.fejlec{
  background: #b1f2ff;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}

.kep{
  width: 15%;
  float: right;
}


.idopont{
  text-align: center;
  margin: 200px;
}

.idopont input{
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  
}

.idopont button{
  border-radius: 5px;
  
}